@{
    ViewData["Title"] = "About";
}


<h1>What's <strong>Klein.ly</strong> actually?</h1>
<h3>Klein.ly is a web service that helps you to short links on internet.</h3>
<h3>This link shortener is Open source, bla bla bla... you can see the repository of this project 
<a href="">here</a></h3>

<p>By <a href="https://github.com/kevinHernandez05">Kevin Hernandez</a> from my ♥</p>
